<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{url_for('cuenta.static', filename='styles.css')}}">

{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
    <body class="body-cuenta">
        <div class="container login-container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header text-center bg-dark text-white">
                            <h3>{{ _('My personal account') }}</h3>
                        </div>
                        <div class="card-body">
                            <form action="{{url_for('cuenta.login')}}" method="POST" novalidate>
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    {{form.usuariologin.label()}} {{form.usuariologin(class="form-control",
                                    placeholder=_("Write your user name"))}}
                                </div>
                                <!-- validacion de errores -->
                                {% if form.usuariologin.errors %}
                                <div class="alert alert-danger">
                                    {{ form.usuariologin.errors[0] }}
                                </div>
                                {% endif %}

                                <div class="form-group">
                                    {{form.contrasenialogin.label()}} {{form.contrasenialogin(class="form-control",
                                    placeholder=_("Write your password"))}}
                                </div>
                                <!-- validacion de errores -->
                                {% if form.contrasenialogin.errors %}
                                <div class="alert alert-danger">
                                    {{ form.contrasenialogin.errors[0] }}
                                </div>
                                {% endif %}
                                {{form.submitlogin(class="btn btn-dark btn-block")}}
                            </form>
                            <div class="text-center mt-3">
                                <p>{{ _('Not registered yet?') }} <a href="{{ url_for('cuenta.registro') }}">{{_('Sign up here')}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Agrega la referencia a Bootstrap JS y Popper.js -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>

<!-- Display flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}